<article>
  <header>
    <%= render 'application/errors', model: @lateness_explanation %> 
  </header>
  <main>
    <%= form_with model: [:service_order, @lateness_explanation] do |f| %>
      <div class="form-group">
        <p>
          <%= f.label :justification %>
          <%= f.text_area :justification, class:"form_control"%>
        </p>
        <p>
          <%= f.submit t('buttons.submit'), class: "btn btn-primary" %>
        </p>
      </div>
    <% end %>
  </main>
</article>