<section>
  <h3> <%= t('starting_service_order') %> </h3>
  <div id='cotations'>
    <h4> <%= t('cotations') %> </h4>

  <%= form_with url: start_service_order_path, method: :get do |f| %>
    <% options_array = attending_transport_modalities(service_order).map do |trans| %>
      <% ["#{trans.name} - #{number_to_currency(trans.so_execution_price(service_order), locale: 'pt-BR')} - #{trans.so_execution_due_date(service_order).to_i}h (#{(trans.so_execution_due_date(service_order)/24).to_i} Dias)", trans.id] %> 
    <% end %>
    <%= f.label :transport_modality_id, t('select_delivery') %>
    <%= f.select(:transport_modality_id, options_array)%>
    <%= f.submit t('buttons.submit'), class:"btn btn-primary btn-sm" %>
  <% end %>
</section>