<article>
  <header>
    <%= link_to t('buttons.create_service_order'), new_service_order_path, class:"btn btn-primary" %>
    <%= link_to t('orders_in_progress'), in_progress_service_orders_path, class: "btn btn-primary" %>
  </header>
  <main>
    <% if @service_orders.any? %>
      <% @service_orders.each do |so| %>
        <h2> <%= link_to so.name_and_code, service_order_path(so.id) %> </h2>
        <dl>
          <p>
            <dt> <%= ServiceOrder.human_attribute_name 'sender_full_address' %>: </dt>
            <dd> <%= so.sender_full_address %> </dd>
          </p>
          <p>
            <dt> <%= ServiceOrder.human_attribute_name 'receiver_name' %>: </dt>
            <dd> <%= so.receiver_name %> </dd>
          </p>
          <p>
            <dt> <%= ServiceOrder.human_attribute_name 'receiver_full_address' %>: </dt>
            <dd> <%= so.receiver_full_address %> </dd>
          </p>
          <p>
            <dt> <%= ServiceOrder.human_attribute_name 'distance' %>: </dt>
            <dd> <%= so.distance %> <%= t 'units.meters' %> </dd>
          </p>
          <p>
            <dt> <%= t('activerecord.attributes.service_order.status.one') %>: </dt>
            <dd> <%= t so.status, scope: [:activerecord, :attributes, :service_order, :status] %> </dd>
          </p>
        </dl>
      <% end %>
    <% else %>
      <%= t 'no_service_orders' %>
    <% end %>
  </main>
</article>