<article>
  <header>
    <h2> <%= ServiceOrder.model_name.human %> <%= @service_order.package_code %> </h2>
  </header>
  <main>
    <dl>
      <p>
        <dt> <%= ServiceOrder.human_attribute_name 'sender_full_address' %>: </dt>
        <dd> <%= @service_order.sender_full_address %> </dd>
      </p>
      <p>
        <dt> <%= ServiceOrder.human_attribute_name 'sender_zip_code' %>: </dt>
        <dd> <%= formatted_zip_code(@service_order.sender_zip_code)  %> </dd>
      </p>
      <p>
        <dt> <%= t 'package_dimensions' %>: </dt>
        <dd> <%= @service_order.formatted_dimensions %> <%= t 'units.centimeters' %> </dd>
      </p>
      <p>
        <dt> <%= ServiceOrder.human_attribute_name 'package_weight' %>: </dt>
        <dd> <%= @service_order.package_weight %> <%= t 'units.grams' %> </dd>
      </p>
      <p>
        <dt> <%= ServiceOrder.human_attribute_name 'receiver_name' %>: </dt>
        <dd> <%= @service_order.receiver_name %> </dd>
      </p>
      <p>
        <dt> <%= ServiceOrder.human_attribute_name 'receiver_full_address' %>: </dt>
        <dd> <%= @service_order.receiver_full_address %> </dd>
      </p>
      <p>
        <dt> <%= ServiceOrder.human_attribute_name 'receiver_zip_code' %>: </dt>
        <dd> <%= formatted_zip_code(@service_order.receiver_zip_code) %> </dd>
      </p>
      <p>
        <dt> <%= ServiceOrder.human_attribute_name 'distance' %>: </dt>
        <dd> <%= @service_order.distance %> <%= t 'units.meters' %> </dd>
      </p>
    </dl>
    <% if @service_order.pending? %>
    <section>
      <h3> <%= t('starting_service_order') %> </h3>
      <div id='cotations'>
        <h4> <%= t('cotations') %> </h4>
        <% attending_transport_modalities(@service_order).each do |trans_mod| %>
          <dl>
            <p>
              <dt> <%= TransportModality.human_attribute_name 'name' %> </dt>
              <dd> <%= trans_mod.name %> </dd>
    
              <dt> <%= TableEntry.human_attribute_name 'value' %> </dt>
              <dd> <%= number_to_currency(trans_mod.so_execution_price(@service_order)) %> </dd>
    
              <dt> <%= t('due_date') %> </dt>
              <dd> <%= table_entry_hours_and_days(trans_mod.so_execution_due_date(@service_order)) %> </dd>
            </p>
          </dl>
        <% end %>
      </div>
      <%= form_with url: start_service_order_path, method: :get do |f| %>
        <%= f.label :transport_modality_id, t('select_delivery') %>
        <%= f.collection_select :transport_modality_id, attending_transport_modalities(@service_order), :id, :name, prompt: true %>
        <%= f.submit t('buttons.submit') %>
      <% end %>
    </section>
    <% end %>
  </main>
</article>