<article>
  <header>
    <%= render 'application/errors', model: @transport_modality %>
  </header>
  <main>
    <% if @transport_modalities.any? %>
      <h2> <%= t 'modalities' %> </h2>
      <% @transport_modalities.each do |trans_mod|  %>
        <table>
          <thead>
            <tr>
              <th> <%= TransportModality.human_attribute_name 'name' %> &nbsp;&nbsp; </th>
              <th> <%= TransportModality.human_attribute_name 'minimum_distance_abbr' %> &nbsp;&nbsp; </th>
              <th> <%= TransportModality.human_attribute_name 'maximum_distance_abbr' %> &nbsp;&nbsp; </th>
              <th> <%= TransportModality.human_attribute_name 'fee' %> &nbsp;&nbsp; </th>
              <th> <%= TransportModality.human_attribute_name 'active' %> </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> <%= link_to trans_mod.name, transport_modality_path(trans_mod.id) %> </td>

              <% if !trans_mod.minimum_distance.nil? %>
                <td> <%= trans_mod.minimum_distance %>Km </td>
              <% else %>
                <td> <%= t 'no_minimum' %> </td>
              <% end %>
              
              <td> <%= trans_mod.maximum_distance %>Km </td>
              <td> <%= number_to_currency(trans_mod.fee) %> </td>
              <td> <%= trans_mod.active ? t('yes') : t('no') %>
            </tr>
          </tbody>
        </table>
      <% end %>
    <% else %>
      <%= t 'no_transport_modalities_yet' %>
    <% end %>
  </main>
  <br>
  <hr>
  <br>
  <footer>
    <h2> <%= "#{ t 'new' } #{ TransportModality.model_name.human }" %> </h2>
    <%= render 'form', transport_modality: @transport_modality %>
  </footer>
</article>