<article>
  <header>
    <h3> <%= @transport_modality.name %> </h3>
  </header>
  <main>
    <section id='transport_modality_details'>
      <dl>
        <p>
          <dt> <%= TransportModality.human_attribute_name 'minimum_distance' %>: </dt>
          <dd> <%= check_if_has_minimum(@transport_modality.minimum_distance) %> Km </dd>
        </p>
        <p>
          <dt> <%= TransportModality.human_attribute_name 'maximum_distance' %>: </dt>
          <dd> <%= @transport_modality.maximum_distance %> Km </dd>
        </p>
        <p>
          <dt> <%= TransportModality.human_attribute_name 'minimum_weight' %>: </dt>
          <dd> <%= check_if_has_minimum(@transport_modality.minimum_weight) %> Kg </dd>
        </p>
        <p>
          <dt> <%= TransportModality.human_attribute_name 'maximum_weight' %>: </dt>
          <dd> <%= @transport_modality.maximum_weight %> Kg </dd>
        </p>
        <p>
          <dt> <%= TransportModality.human_attribute_name 'fee' %>: </dt>
          <dd> <%= number_to_currency(@transport_modality.fee) %> </dd>
        </p>
        <p>
          <dt> <%= TransportModality.human_attribute_name 'active' %>: </dt>
          <dd> <%= @transport_modality.active ? t('yes') : t('no') %> </dd>
        </p>
      </dl>
      <% if current_user.admin? %>
        <%= link_to t('buttons.edit'), edit_transport_modality_path %>
      <% end %>
    </section>
    <section id='tables'>
      <div id='weight_price_table'>
        <%= render partial: 'table_sample', locals: 
                                                  { table_type: WeightPriceTable,
                                                    entries: @transport_modality.weight_price_table.table_entries,
                                                    unit: t('units.kilograms') 
                                                  } %>
  
        <%= render 'table_entries/form', table_entry: TableEntry.new, table: :weight_price_table_id, table_id: @transport_modality.weight_price_table.id %>
      </div>
      <hr>
      <div id='distance_price_table'>
        <%= render partial: 'table_sample', locals: 
                                                  { table_type: DistancePriceTable,
                                                    entries: @transport_modality.distance_price_table.table_entries,
                                                    unit: t('units.kilometers')
                                                   } %>
  
        <%= render 'table_entries/form', table_entry: TableEntry.new, table: :distance_price_table_id, table_id: @transport_modality.distance_price_table.id %>
      </div>
      <div id='freight_table'>
        <%= render partial: 'table_sample', locals: 
                                                  { table_type: FreightTable,
                                                    entries: @transport_modality.freight_table.table_entries,
                                                    unit: t('units.kilometers')
                                                  } %>
      </div>
    </section>
  </main>
</article>