<!DOCTYPE html>
<html>
  <head>
    <title><%= t 'app_name' %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <h1> <%= t 'app_name' %> </h1>
    <nav>
      <%= link_to t('buttons.home'), root_path %>
      <%= link_to t('activerecord.models.service_order.many'), service_orders_path %>
      <% if user_signed_in? %>
        <%= button_to t('buttons.sign_out'), destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to t('buttons.login'), new_user_session_path %>
      <% end %>
    <section>
      <%= notice %>
      <%= alert %> 
    </section>
    <%= yield %>
  </body>
</html>
